boto3==1.33.8
botocore==1.33.8
matplotlib==3.8.2
streamlit==1.29.0
streamlit-card==1.0.0
google-api-core==2.15.0
google-api-python-client==2.111.0
google-auth==2.25.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.62.0
